* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top {
    flex: 1 0 25%;
    /* height: 25vh; */
    background-color: #9c9c9c;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.bot {
    display: flex;
    flex: 1 0 75%;
    justify-content: center;
    background-color: #3f3f3f;
}

.book-add {
    box-shadow: 2px 1px 8px;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    border-radius: 2rem;
    div {
    }
}

.books-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.book-card {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 320px;
    line-height: 1.1;
    grid-column: span 3;
    /* grid-row: span 4; */
    box-shadow: 10px 8px 20px;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1.5rem 3rem;
    background-color: bisque;
    justify-content: start;
    gap: 1rem;
    div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        height: 40px;
        :nth-child(1) {
            font-weight: bold;
        }
    }
    button {
        align-self: center;
        padding: 2px 5px;
    }
}

#buttons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 10000px){
    .book-card {
        /* grid-column: span 6; */
    }
}